<%= form_with(model: tasklist) do |form| %>
  <% if tasklist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tasklist.errors.count, "error") %> prohibited this tasklist from being saved:</h2>

      <ul>
        <% tasklist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :task, class:"form-control", placeholder: "Task" %>
  </div>
  <br/>
  <div class="form-group">
    <%= form.date_field :duedate, class:"form-control", placeholder: "Due Date" %>
  </div>
  <br/>
  <div class="form-group form-select">
    <%= form.text_field :status, class:"form-control", placeholder: "Status" %>
  </div>
  <br/>
  <div>
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
