<p style="color: green"><%= notice %></p>

<table class="table table-striped table-bordered table-hover table-dark">
  <thead>
    <tr>
      <th class="col-7">Task</th>
      <th class="col-2">Due Date</th>
      <th class="col-2">Status</th>
      <th class="col-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasklists.each do |tasklist| %>
      <tr>
        <td><%= link_to tasklist.task, tasklist %></td>
        <td><%= tasklist.duedate %></td>
        <td><%= tasklist.status %></td>
        <td>
          <%= link_to 'Delete', tasklist, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-outline-danger btn-sm" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br/>

<%= link_to "New Task", new_tasklist_path, class:"btn btn-secondary" %>
